[run]
branch = True
omit =
    *_vendor*
    src/dcos_e2e/_version.py
    # Travis CI does not support VirtualBox so we cannot test the Vagrant
    # backend there.
    src/dcos_e2e/backends/_vagrant/*

[report]
exclude_lines =
    pragma: no cover
