sudo: required
services:
- docker
addons:
  apt:
    packages:
    - docker-ce
    - enchant
language: python
python:
- '3.5'
env:
  matrix:
  - CI_PATTERN=''
  - CI_PATTERN=tests/test_cli
  - CI_PATTERN=tests/test_dcos_e2e/backends/aws/test_aws.py::TestDefaults
  - CI_PATTERN=tests/test_dcos_e2e/backends/aws/test_aws.py::TestRunIntegrationTest
  - CI_PATTERN=tests/test_dcos_e2e/backends/aws/test_aws.py::TestUnsupported
  - CI_PATTERN=tests/test_dcos_e2e/backends/aws/test_aws.py::TestCustomKeyPair
  - CI_PATTERN=tests/test_dcos_e2e/backends/docker/test_distributions.py::TestCentos7
  - CI_PATTERN=tests/test_dcos_e2e/backends/docker/test_distributions.py::TestCoreOS::test_enterprise
  - CI_PATTERN=tests/test_dcos_e2e/backends/docker/test_distributions.py::TestCoreOS::test_oss
  - CI_PATTERN=tests/test_dcos_e2e/backends/docker/test_distributions.py::TestUbuntu1604::test_oss
  - CI_PATTERN=tests/test_dcos_e2e/backends/docker/test_distributions.py::TestUbuntu1604::test_enterprise
  - CI_PATTERN=tests/test_dcos_e2e/backends/docker/test_docker.py
  - CI_PATTERN=tests/test_dcos_e2e/test_cluster.py::TestClusterFromNodes
  - CI_PATTERN=tests/test_dcos_e2e/test_cluster.py::TestClusterSize
  - CI_PATTERN=tests/test_dcos_e2e/test_cluster.py::TestInstallDcosFromPathLogging
  - CI_PATTERN=tests/test_dcos_e2e/test_cluster.py::TestIntegrationTests
  - CI_PATTERN=tests/test_dcos_e2e/test_cluster.py::TestMultipleClusters::test_two_clusters
  - CI_PATTERN=tests/test_dcos_e2e/test_enterprise.py::TestCopyFiles::test_copy_directory_to_installer
  - CI_PATTERN=tests/test_dcos_e2e/test_enterprise.py::TestCopyFiles::test_copy_files_to_installer
  - CI_PATTERN=tests/test_dcos_e2e/test_enterprise.py::TestEnterpriseIntegrationTests::test_run_pytest
  - CI_PATTERN=tests/test_dcos_e2e/test_enterprise.py::TestSecurityDisabled
  - CI_PATTERN=tests/test_dcos_e2e/test_enterprise.py::TestWaitForDCOS::test_auth_with_cli
  - CI_PATTERN=tests/test_dcos_e2e/test_legacy.py::Test110::test_enterprise
  - CI_PATTERN=tests/test_dcos_e2e/test_legacy.py::Test110::test_oss
  - CI_PATTERN=tests/test_dcos_e2e/test_legacy.py::Test111::test_enterprise
  - CI_PATTERN=tests/test_dcos_e2e/test_legacy.py::Test111::test_oss
  - CI_PATTERN=tests/test_dcos_e2e/test_legacy.py::Test19::test_enterprise
  - CI_PATTERN=tests/test_dcos_e2e/test_legacy.py::Test19::test_oss
  - CI_PATTERN=tests/test_dcos_e2e/test_node.py
before_install:
- sudo modprobe aufs
- echo $LICENSE_KEY_CONTENTS > /tmp/license-key.txt
- travis_retry pip install --upgrade pip setuptools codecov
install:
- travis_retry pip install --process-dependency-links --upgrade --editable .[dev]
cache: pip
before_script:
- travis_retry make pull-images
script:
- admin/run_script.py
after_success:
- codecov
