sudo: "required"

services:
  - "docker"

language: "python"

python:
  - "3.5"

env:
  # Travis has a maximum test run time of 50 minutes.
  # In order to avoid this and to see failures faster, we run multiple builds
  # per commit.
  #
  # We do not run tests which use multiple clusters as this uses too much
  # space for Travis CI.
  # The main use of space is the copying of the config file to each directory.
  matrix:
    - "TEST_PATTERN=TestNode"
    - "TEST_PATTERN=TestIntegrationTests"
    - "TEST_PATTERN=TestExtendConfig"
    - "TEST_PATTERN=TestClusterSize"
    - "TEST_PATTERN=TestClusterLogging"
    - "TEST_PATTERN=TestDestroyOnError"
    - "TEST_PATTERN=TestEnterpriseIntegrationTests"
  global:
    # The encrypted URL for a DC/OS Enterprise artifact.
    # Generate this by running:
    #     travis encrypt --repo adamtheturtle/dcos-e2e EE_ARTIFACT_URL="$EE_ARTIFACT_URL"
    secure: "H1P6GG9HmZxEZlt+vwOvmK6RD9OmVYRnh93hBYFUcUqpAoklfIyt5kaex4vh2n4mowmsn101oINjPIXAlbHZ+iN344kPCvbr7vDcvQfo73DbqwfhzN//TLFL4ToYaOqs7ruNhsnFWaDOWakULu/A+Mx6s8sj1khyAqbFMfRjCoMoTkGSk7McjkEvYusRo12rM7fp2JvG+QRspet6V01HFyi5g+JbcNdHkzUyWcOaUOGHdWLAzlR50vnj6F9pMFD3DKIo/oVe3Qnm8YORE6L9rzoHJ7sVdOLYS3sbg9oTANc6OcBN8wofyr6tKCls8oF0GdDtY0j7nYBXiUj0ka7gxQftaoyeNtbyueilU2zq15sy9UcXfEldJXP7MXyU023FhGWL7jApwQWqBmLzPixCje2jWWRX7NjeVr12yH6KDBlHlweo17EyEKYLEPh6qnlgvsE1LLi8xS0gvtt6uMEiupcdalhxNiqGqfHP+FtxlCoKK1/9m9+EP0mXCi60KSN2Xgbm+5ti2y0JjCRm0v3VS9S3ozZD52YFqINF9ICvdL8zyF5FsikXLxNY5yGqRPr2JpoGLC3PmjkSsGTZ2ueOf4yB7IB0cNSMxp7ySjXqXuUG3m8iSns/D9aHLCX9HnE3UnN96TZDllOfCgER/FSk+pvUiS123FNgNgOvJxPNRC8="

before_install:
  - "pip install --upgrade pip setuptools"
  - "sudo apt-get update"
  # Ideally we would use `addons.apt.packages` for enchant but this is not
  # supported by the linter.
  - "sudo apt-get install docker-engine enchant"
  - "npm -g install npm@latest"

install:
  - "pip install --process-dependency-links --upgrade --editable .[dev]"
  - "npm install"

cache: "pip"

before_script:
    - "make clean"
    - "make lint"
    - "git diff --name-only $TRAVIS_COMMIT_RANGE | grep -qvE '*.md$' || {
            echo 'Only the documentation was updated.';
            echo 'No tests will be run'.;
            echo 'No artifacts will be downloaded.';
            exit ;
       }
       "
    - 'make EE_ARTIFACT_URL=$EE_ARTIFACT_URL download-dependencies'

# Travis has a time out for total for time without output (10 minutes).
# We get around this by using `travis_wait` which hides all output until the
# tests are finished.
#
# We do not run tests in parallel as this uses too much space for Travis CI.
# The main use of space is the copying of the config file to each directory.
script:
    - 'travis_wait 30 pytest -x -vvv -s -k "$TEST_PATTERN"'
