sudo: required
services:
- docker
addons:
  apt:
    packages:
    - docker-ce
    - enchant
language: python
python:
- '3.5'
env:
  matrix:
  - CI_PATTERN=''
  - CI_PATTERN=tests/test_admin/test_binaries.py
before_install:
- sudo modprobe aufs
- echo $LICENSE_KEY_CONTENTS > /tmp/license-key.txt
- travis_retry pip install --upgrade pip setuptools codecov
install:
- travis_retry pip install --upgrade --editable .[dev]
cache: pip
before_script:
- travis_retry make pull-images
- travis_retry python admin/download_installers.py
script:
- python admin/run_script.py
after_success:
- codecov
