autoflake==1.1
check-manifest==0.36
dcoscli==0.6.1
doc8==0.8.0
dulwich==0.19.2
flake8-commas==2.0.0
flake8-quotes==1.0.0
flake8==3.5.0
homebrew-pypi-poet==0.10.0
isort==4.3.4
mypy==0.580
pip_check_reqs==2.0.1
py==1.5.3
pydocstyle==2.1.1
pyenchant==2.0.0
pygithub==1.38
pylint==1.8.4
pyroma==2.3
pytest-cov==2.5.1  # Measure code coverage
pytest-timeout==1.2.1
requests-mock==1.4.0
sphinx-autodoc-typehints==1.3.0
sphinx-click==1.1.0
sphinx-paramlinks==0.3.4
sphinx==1.7.2
sphinxcontrib-spelling==4.1.0
vendorize==0.1.0
vulture==0.26
yapf==0.21.0
# We should also use https://github.com/pyga/ebb-lint when it is released for
# Python 3.6.
