# Requirements which are indirectly needed for various reasons.
# That is, they are not imported by our code.
# -------------------------------------------------------------
# At the time of writing, with the latest versions of the DC/OS E2E direct
# dependencies, there is a version conflict for ``msrestazure``, an
# indirect dependency.
# Therefore, we pin a particular version which satisfies all requirements.
# See DCOS-40131.
msrestazure==0.4.34
# ``keyring`` is a requirement of ``msrestazure``.
# We make sure that we get a version of keyring which is compatible with the
# pinned version of SecretStorage on Python 3.5+ (compatibility is different
# on different Python versions).
keyring==16.0.2
# Without the following, some users get:
# The 'secretstorage' distribution was not found and is required by keyring
SecretStorage==3.1.0
# Requirements from DC/OS Launch
azure-common==1.1.16
azure-datalake-store==0.0.40
azure-mgmt-network==2.2.1
azure-mgmt-resource==2.0.0
azure-monitor==0.3.1
# Various requirements require entrypoints and jeepney.
# New versions of these packages depend on flit.
# flit has an issue when interacting with Homebrew:
# https://github.com/takluyver/flit/issues/245.
# To avoid this issue, we pin an older version of entrypoints.
entrypoints==0.2.3
jeepney==0.3.1
# Homebrew installation uses "--no-binary".
# To avoid https://github.com/pypa/pip/issues/6222 we use "--no-use-pep-517".
# However, using these together is not possible with modern ``python-dateutil``
# as that shows the error:
#
# > Disabling PEP 517 processing is invalid: project specifies a build backend
# > of setuptools.build_meta in pyproject.toml
#
# Therefore we pin an older ``python-dateutil`` and ``attrs``.
python-dateutil==2.7.5
attrs==18.2.0
# Required by halo
six==1.11.0
