recursive-include src/dcos_e2e/backends/_aws/resources *
recursive-include src/dcos_e2e/backends/_docker/resources *
recursive-include src/dcos_e2e/backends/_vagrant/resources *
recursive-include src/dcos_e2e_cli/_vendor *
recursive-include src/dcos_e2e/_vendor *
recursive-include src/dcos_e2e_cli/dcos_docker/commands/docker-mac-network-master *
recursive-include src/dcos_e2e_cli/dcos_docker/commands/openvpn *
include versioneer.py
include src/dcos_e2e/_version.py
include src/*/py.typed
