# We want to install an exact version of dcos-test-utils.
# We parse this file in `setup.py`.
# The method used here is the only way that I, Adam, know how to get the exact version installed here and with `setup.py`.
# See https://underyx.me/2015/11/23/adding-an-unreleased-commit-as-a-dependency as an example of a guide which recommends this method.
--find-links git+https://github.com/dcos/dcos-test-utils.git@47825add34311ce12bebe6b6ff0993b6bee8295c#egg=dcos-test-utils-0.1
click==6.7
cryptography==2.1.4
dcos-test-utils==0.1
docker==3.0.1
paramiko==2.4.0
PyYAML==3.12
retry==0.9.2
scp==0.10.2
